# 1. Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# 2. Read csv

In [2]:
df = pd.read_csv('scrapped data.csv')

In [3]:
df.head()

,Designation,Name,Location,Level_and_involvement,job_description,Total_applicants,Industry_and_Employee_count,LinkedIn_Followers
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Full-time · Entry level,Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,208 followers"
1,Project Manager,Wipro,"Delhi, Delhi, India",Full-time · Entry level,Role Purpose \nThe purpose of the role is to ...,121 applicants,"10,001+ employees · IT Services and IT Consulting","6,737,209 followers"
2,Project Manager,Wipro,"Delhi, Delhi, India",Full-time · Entry level,Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,210 followers"
3,Administrator,Wipro,"Hyderabad, Telangana, India",Full-time · Mid-Senior level,Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,211 followers"
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",Full-time · Entry level,This job is sourced from a job board. Learn mo...,22 applicants,"10,001+ employees · IT Services and IT Consulting","270,113 followers"

# 3. Break down of Level_and_involvement column

In [4]:
df[['Level','Involvement']] = df['Level_and_involvement'].str.split('·', expand=True)

In [5]:
df.drop('Level_and_involvement', axis=1, inplace=True)

In [6]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,Industry_and_Employee_count,LinkedIn_Followers,Level,Involvement
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,208 followers",Full-time,Entry level
1,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,121 applicants,"10,001+ employees · IT Services and IT Consulting","6,737,209 followers",Full-time,Entry level
2,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,210 followers",Full-time,Entry level
3,Administrator,Wipro,"Hyderabad, Telangana, India",Role Purpose \nThe purpose of the role is to ...,NaN,"10,001+ employees · IT Services and IT Consulting","6,737,211 followers",Full-time,Mid-Senior level
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",This job is sourced from a job board. Learn mo...,22 applicants,"10,001+ employees · IT Services and IT Consulting","270,113 followers",Full-time,Entry level

# 4. Remove noise and unwanted text from Total_applicants column

In [7]:
df['Total_applicants'] = df['Total_applicants'].str.replace(' applicants', '').str.replace(' applicant', '').fillna(0).astype(int)

In [8]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,Industry_and_Employee_count,LinkedIn_Followers,Level,Involvement
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Role Purpose \nThe purpose of the role is to ...,0,"10,001+ employees · IT Services and IT Consulting","6,737,208 followers",Full-time,Entry level
1,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,121,"10,001+ employees · IT Services and IT Consulting","6,737,209 followers",Full-time,Entry level
2,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,0,"10,001+ employees · IT Services and IT Consulting","6,737,210 followers",Full-time,Entry level
3,Administrator,Wipro,"Hyderabad, Telangana, India",Role Purpose \nThe purpose of the role is to ...,0,"10,001+ employees · IT Services and IT Consulting","6,737,211 followers",Full-time,Mid-Senior level
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",This job is sourced from a job board. Learn mo...,22,"10,001+ employees · IT Services and IT Consulting","270,113 followers",Full-time,Entry level

# 5. Break down of Industry_and_Employee_count column

In [9]:
df[['Employee_count','Industry']] = df['Industry_and_Employee_count'].str.split('·', expand=True)

In [10]:
df.drop('Industry_and_Employee_count', axis=1, inplace=True)

In [11]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,LinkedIn_Followers,Level,Involvement,Employee_count,Industry
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,208 followers",Full-time,Entry level,"10,001+ employees",IT Services and IT Consulting
1,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,121,"6,737,209 followers",Full-time,Entry level,"10,001+ employees",IT Services and IT Consulting
2,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,210 followers",Full-time,Entry level,"10,001+ employees",IT Services and IT Consulting
3,Administrator,Wipro,"Hyderabad, Telangana, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,211 followers",Full-time,Mid-Senior level,"10,001+ employees",IT Services and IT Consulting
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",This job is sourced from a job board. Learn mo...,22,"270,113 followers",Full-time,Entry level,"10,001+ employees",IT Services and IT Consulting

# 6. Remove noise and unwanted text from Employee_count column

In [12]:
df['Employee_count'] = df['Employee_count'].str.replace(',', '').str.replace(' employees', '').str.replace('+', '').str[-6:].str.replace('-', '').astype(int)

In [13]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,LinkedIn_Followers,Level,Involvement,Employee_count,Industry
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,208 followers",Full-time,Entry level,10001,IT Services and IT Consulting
1,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,121,"6,737,209 followers",Full-time,Entry level,10001,IT Services and IT Consulting
2,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,210 followers",Full-time,Entry level,10001,IT Services and IT Consulting
3,Administrator,Wipro,"Hyderabad, Telangana, India",Role Purpose \nThe purpose of the role is to ...,0,"6,737,211 followers",Full-time,Mid-Senior level,10001,IT Services and IT Consulting
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",This job is sourced from a job board. Learn mo...,22,"270,113 followers",Full-time,Entry level,10001,IT Services and IT Consulting

# 7. Remove noise and unwanted text from LinkedIn_Followers column

In [14]:
df['LinkedIn_Followers'] = df['LinkedIn_Followers'].str.replace(' followers', '').str.replace(',', '')

In [15]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,LinkedIn_Followers,Level,Involvement,Employee_count,Industry
0,Project Manager,Wipro,"Mumbai, Maharashtra, India",Role Purpose \nThe purpose of the role is to ...,0,6737208,Full-time,Entry level,10001,IT Services and IT Consulting
1,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,121,6737209,Full-time,Entry level,10001,IT Services and IT Consulting
2,Project Manager,Wipro,"Delhi, Delhi, India",Role Purpose \nThe purpose of the role is to ...,0,6737210,Full-time,Entry level,10001,IT Services and IT Consulting
3,Administrator,Wipro,"Hyderabad, Telangana, India",Role Purpose \nThe purpose of the role is to ...,0,6737211,Full-time,Mid-Senior level,10001,IT Services and IT Consulting
4,Java Developer,LTIMindtree,"Hyderabad, Telangana, India",This job is sourced from a job board. Learn mo...,22,270113,Full-time,Entry level,10001,IT Services and IT Consulting

# 8. Fixing the linkedin followers column for each company

In [16]:
data = df[['Name','LinkedIn_Followers']].groupby('Name').median().reset_index()
dict_data = dict(zip(data['Name'], data['LinkedIn_Followers']))

for i in dict_data:
    df.loc[df['Name'] == i, 'LinkedIn_Followers'] = int(dict_data[i])

# 11. Break down of Location column

In [17]:
df['Location'] = df['Location'].str.split(",", expand=True)[1]

In [18]:
df.head()

,Designation,Name,Location,job_description,Total_applicants,LinkedIn_Followers,Level,Involvement,Employee_count,Industry
0,Project Manager,Wipro,Maharashtra,Role Purpose \nThe purpose of the role is to ...,0,6737300,Full-time,Entry level,10001,IT Services and IT Consulting
1,Project Manager,Wipro,Delhi,Role Purpose \nThe purpose of the role is to ...,121,6737300,Full-time,Entry level,10001,IT Services and IT Consulting
2,Project Manager,Wipro,Delhi,Role Purpose \nThe purpose of the role is to ...,0,6737300,Full-time,Entry level,10001,IT Services and IT Consulting
3,Administrator,Wipro,Telangana,Role Purpose \nThe purpose of the role is to ...,0,6737300,Full-time,Mid-Senior level,10001,IT Services and IT Consulting
4,Java Developer,LTIMindtree,Telangana,This job is sourced from a job board. Learn mo...,22,270280,Full-time,Entry level,10001,IT Services and IT Consulting

# 12. Check for missing values

In [19]:
df.isnull().sum()

Designation            0
Name                   0
Location              83
job_description        0
Total_applicants       0
LinkedIn_Followers     0
Level                  0
Involvement            0
Employee_count         0
Industry               0
dtype: int64

# 13. Dropping rows with missing values

In [20]:
df.dropna(inplace=True)

In [21]:
df.reset_index(inplace=True, drop=True)

# 14. Collect some most common technical skills

In [22]:
technical_skills = ['PYTHON', 'C++', 'JAVA', 'HADOOP', 'SCALA', 
                    'FLASK', 'PANDAS', 'SPARK', 'NUMPY', 
                    'PHP', 'SQL', 'MYSQL', 'CSS', 'MONGODB', 'NLTK', 'KERAS', 
                    'PYTORCH', 'TENSORFLOW', 'LINUX', 'RUBY', 'JAVASCRIPT', 
                    'DJANGO', 'REACT', 'REACTJS', 'AI', 'UI', 'TABLEAU', 
                    'NODEJS', 'EXCEL', 'POWER BI', 'SELENIUM', 'HTML', 'ML']

# 15. Add these whole technical skills to the dataframe and fill with zeros

In [23]:
df[technical_skills] = 0

# 16. Find out the skills from job description column

In [24]:
skills = df['job_description'].str.upper().apply(lambda x: [i.upper() for i in technical_skills if i in x])

# 17. Create skill flag with one where perticular skills are present

In [25]:
for index,skill_set in enumerate(skills):
    for x in skill_set:
        df[x][index] = 1

# 18. Drop the constent columns

In [26]:
for i in technical_skills:
    if len(df[i].unique()) == 1:
        df.drop(i, axis=1, inplace=True)

# 19. Drop the Job Description column

In [27]:
df.drop('job_description', axis=1, inplace=True)

# 20. Check Duplicates

In [28]:
df.duplicated().sum()

31

# 21. Drop duplicates

In [29]:
df.drop_duplicates(inplace = True)

In [30]:
df.reset_index(inplace=True, drop=True)

# 22. Implement clustering for providing class to each company on the basis of employee count and linkedin followers

In [31]:
data = df[['Name','Employee_count', 'LinkedIn_Followers']].copy()

In [32]:
data.drop_duplicates(inplace=True)

In [33]:
data.reset_index(inplace=True, drop=True)

In [34]:
X = data.drop(['Name'], axis=1)

## Feature Scaling

In [35]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [36]:
scaled_X = scaler.fit_transform(X)

## k means clustering model

In [37]:
from sklearn.cluster import KMeans

In [38]:
model = KMeans(n_clusters=4)

## predict the class of each company

In [39]:
pred = model.fit_predict(scaled_X)

In [40]:
pred

array([0, 2, 1, 3, 1, 2, 2, 0, 3, 0, 2])

In [41]:
data['Class'] = pred

## assign the class to each company

In [42]:
data.loc[data['Class'] == 0, 'Class'] = 'Class 1'
data.loc[data['Class'] == 1, 'Class'] = 'Class 2'
data.loc[data['Class'] == 2, 'Class'] = 'Class 3'
data.loc[data['Class'] == 3, 'Class'] = 'Class 4'

In [43]:
data.drop(['Employee_count', 'LinkedIn_Followers'], axis=1, inplace=True)

## merge the class of the company with the original dataframe

In [44]:
df = pd.merge(data, df, how='inner', on='Name')

# 23. Save the dataframe to csv file

In [45]:
df.to_csv('final_data.csv', index=False)

# Thank You!